.thank{
    width: 80%;
    margin: 30px auto;
    height: 100vh;
    text-align: center;
}
.thank>h2{
    padding: 20px 0px;
    border-bottom: 1px solid #979797;
}
.thank>h3{
    margin:20px;
}
#orderNumber{
    background-color: #eeeeee;
    padding: 2px;
}
.thank>a{
    margin-top: 30px;
}